@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  text-align: center;
  width: 100%;
}

.TodoWrapper {
  background: #1a1a40;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TodoWrapper h5 {
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: #ffffff;
  background: #1a1a40;
  border-radius: 5px 5px 0 0;
}

.TodoForm {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  gap: 10px;
  background: #1a1a40;
  padding: 1rem;
  border-radius: 0 0 5px 5px;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  color: #fff;
  flex: 1;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0px;
  width: 100px;
}

table {
  width: 100%;
  color: #fff;
  margin-top: 1rem;
  border-collapse: collapse;
}

th,
td {
  padding: 0.75rem;
  text-align: left;
  color: #ffffff;
}

thead {
  background: #1a1a40;
}

tbody tr {
  background: #3b3b5a;
  margin-bottom: 5px;
}

tbody tr:nth-child(even) {
  background: #2e2e4d;
}

td {
  color: #ffffff;
}

td .fa-pen-to-square,
td .fa-trash-can {
  margin-left: 10px;
  cursor: pointer;
  color: #ffffff;
}

td .fa-pen-to-square:hover,
td .fa-trash-can:hover {
  color: #c5aeff;
}
