* {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  margin: 0;
  border: 0;
  padding: 0;
  color: black;
}

.ptable table {
  margin: 0px auto;
  border-collapse: collapse;
}

.ptable {
  margin: 0px 0% 100px 0%;
}

th,
td {
  padding: 7px;
}

th {
  background-color: black;
  color: #ffe221;
}

.wpos {
  text-align: center;
}

.wpos td {
  color: #77ff21;
}

.lpos {
  text-align: center;
}

.lpos td {
  color: #060d7a;
}

.pos {
  text-align: center;
}

.pos td {
  color: #cf2608;
}

table .col {
  border-bottom: 1px solid #ffffff;
}

.wpos:hover {
  background-color: #77ff21;
}

.wpos:hover td {
  color: #000000;
}

.lpos:hover {
  background-color: #2130ff;
}

.lpos:hover td {
  color: #000000;
}

.pos:hover {
  background-color: #f54e25de;
}

.pos:hover td {
  color: #000000;
}
